*{
    --outline: 1px solid red;    
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.volkhov-bold {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-style: normal;
}
.science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}
body{
    min-height:100dvh;
    background: #494949; 
    display:grid;
    place-content: center; 
}
.main{
    margin-right:15rem;
    margin-left:15rem;
    padding-right: 4rem;
    padding-left: 4rem;
    background: #ffffff;
}
h1{
    font-size: 5rem;
    text-align: center;
    padding: 2rem;
    color: #898989;
    text-shadow: 2px 2px 4px #000000;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal; 
}
#first{
    display:flex;
    flex-direction: row;
    font-size: 1rem;
    font-family: "Science Gothic", sans-serif;
    font-style: normal;
    --outline: 2px dotted purple;
}
#first a{
    text-decoration: none;

}

#first a:hover{
    color:#94bbff;
}

.content{
    margin-top:10rem;
}
#Second{
    display:flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: "Science Gothic", sans-serif;
    font-style: normal;
}
ul{
    margin-top:2rem;
    list-style-position: inside;
    padding-left: 2rem;
    margin-left:1rem;
}
footer{
    margin-top:5rem;
    margin-bottom:0.5rem;
    display:grid;
    place-content: center;
    color:grey;
    padding-left:-15rem;
}